<a href="https://colab.research.google.com/github/haillluuuu/CPE-009A/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

Example 1

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (The break statement)

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 (The break statement)

In [7]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ]
for x in "week":
  print(x)

w
e
e
k

The Range() Function

In [11]:
for x in range(2, 2, 6):
  print(x)
for x in range(2, 6):
  print(x)

2
4
2
3
4
5

In [14]:
for x in range(2, 6, 2):
  print(x)

2
4

Nested Loops

In [16]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5

In [20]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The Continue Statement

In [25]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Looping With String +5pts

In [32]:
i = 0
while i < 11:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Create a phyton program that displays integers less than 10 but not less than 3

In [40]:
for x in range(3, 10):
  print(x)

3
4
5
6
7
8
9

In [36]:
i = 3
while i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9