<a href="https://colab.research.google.com/github/haillluuuu/CPE-009A/blob/main/Python_Fundamentals_Canoy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [2]:
if 5 > 2:
  print("Five is Greater than Two!")

Five is Greater than Two!

Phyton Comments

In [8]:
#This is a comment
print("Hello, World")

Hello, World

Variable Naming Conventions

Python Variable

In [13]:
x = 1
a, b=0,-1
a, b, c=0,-1,2

#Others:
b = "Sally" #This is a type of string
print(b)

Sally

Casting

In [14]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Typr() Function

In [16]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double quotes or Single qoutes

In [17]:
y = "John"
y = 'John'

Case sensitive

In [19]:
a = 4
A = "Sally"
#A will not  overwrite a

Multiple Variables

In [20]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value Variables

In [21]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [23]:
x = "enjoying"
print("Phyton programing is " + x)

Phyton programing is enjoying

In [24]:
#Another Way is

x = "Phyton is "
y = "enjoying"
z = x + y

print(z)

Phyton is enjoying

Arithmetic Operations

In [ ]:
x = 5
y = 3
print (x + y)

In [29]:
#Ways in using Arithmetic operations

#Addition

x = 5
y = 3
sum = x + y
sum

#Subtraction

a = 5
b = 3
sum1 = a - b
sum1

#multiplication

c = 5
d = 3
sum2 = c * d
sum2

#division

e = 5
f = 3
sum3 = e / f
sum3

#modulus

g = 5
h = 3
sum4 = g % h
sum4

#Exponentiation

l = 5
m = 3
sum5 = l ** m
sum5

#Floor Division

o = 5
p = 3
sum6 = o // p
sum6

1

Assignment Operators

In [30]:
s = 1
s += 3

print(s)

4

In [31]:
s = 1
s -= 3

print(s)

-2

In [ ]:
s = 1
s *=3

print(s)

In [34]:
s = 1
s /= 3

print(s)

0.3333333333333333

In [32]:
s = 1
s %= 3

print(s)

1

In [ ]:
s = 1
s //= 3

print(s)

In [ ]:
s = 1
s **= 3

print(s)

In [ ]:
s = 1
s &= 3

print(s)

In [ ]:
s = 1
s |= 3

print(s)

In [36]:
s = 1
s ^= 3

print(s)

2

In [35]:
s = 1
s >>= 3

print(s)

0

Comparison Operators

In [37]:
t = 1
u = 2

t == u

True

In [ ]:
t = 1
u = 2

t != u

In [ ]:
t = 1
u = 2

t > u

In [ ]:
t = 1
u = 2

t < u

In [39]:
t = 1
u = 2

t >= u

False

In [38]:
t = 1
u = 2

t <= u

True

Logical Operations

In [40]:
t = 1
u = 2

t > 5 and x < 10

False

In [41]:
t = 1
u = 2

t < 5 or t < 4

True

  Identity Operations

In [43]:
t = 1
u = 2

t is u

False

In [42]:
t = 1
u = 2

t is not u

True

Bitwise Operators

In [47]:
v = 2

v << 2

8

In [51]:
15 & 15

15